<% if @team %>
  <h1>Sprints for team: <%= @team.name %></h1>
<% else %>
  <h1>Listing sprints</h1>
<% end %>

<table>
  <tr>
    <th>Team</th>
    <th>Sprint</th>
    <th>Starts on</th>
    <th>Ends on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sprints.each do |sprint| %>
  <tr>
    <td><%= sprint.team_name %></td>
    <td><%= sprint.name %></td>
    <td><%= sprint.starts_on %></td>
    <td><%= sprint.ends_on %></td>
    <td><%= link_to 'Show', sprint %></td>
    <td><%= link_to 'Edit', edit_sprint_path(sprint) %></td>
    <td><%= link_to 'Destroy', sprint, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sprint', new_team_sprint_path(@team) %>
