  <% if @iteration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iteration.errors.count, "error") %> prohibited this iteration from being saved:</h2>

      <ul>
      <% @iteration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>

  <h2>Goals</h2>
  <table id="goals" border="1" cellspacing="0" cellpadding="5">
    <thead>
      <tr>
        <th>Who</th>
        <th>Last Goal</th>
        <th>Current Goal</th>
        <th>Status</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :goals do |g| %>
        <% goal = g.object %>
        <tr id="goal_<%= goal.id %>">
          <td><%= goal.member_name %></td>
          <td><%= goal.prev_goal_summary %></td>
          <td><%= g.text_field :result %></td>
          <td><%= g.select :status, [nil] + Goal::STATUSES %></td>
          <td><%= g.text_field :comments %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
