<h1>Editing iteration</h1>

<%= form_for(@iteration) do |f| %>
  <%= render 'form', { :f => f } %>
  <div class="actions">
    <%= f.submit 'Save and Previous' %>
    <%= f.submit 'Save' %>
    <%= f.submit 'Save and Next' %>
  </div>
<% end %>

<%= link_to 'Show', @iteration %> |
<%= link_to 'Back', iterations_path %>
