<p>
  <b>Sprint:</b>
  <%= link_to @iteration.sprint_name, @iteration.sprint %>
</p>
<p>
  <b>Iteration:</b>
  <%= @iteration.name %>
</p>

<table id="goals" border="1" cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th>Who</th>
      <th>Result</th>
      <th>NOP?</th>
      <th>Achieved?</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @iteration.goals.each do |goal| %>
      <tr>
        <td><%= goal.name %></td>
        <td><%= goal.result %></td>
        <td><%= goal.nop %></td>
        <td><%= goal.achieved %></td>
        <td><%= goal.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
