<h1>Listing iterations</h1>

<table>
  <tr>
    <th>Sprint</th>
    <th>Iteration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @iterations.each do |iteration| %>
  <tr>
    <td><%= iteration.sprint_name %></td>
    <td><%= iteration.name %></td>
    <td><%= link_to 'Show', iteration %></td>
    <td><%= link_to 'Edit', edit_iteration_path(iteration) %></td>
    <td><%= link_to 'Destroy', iteration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Iteration', new_sprint_iteration_path(@sprint) %>
