<p>
  <b>Sprint:</b>
  <%= link_to @iteration.sprint_name, @iteration.sprint %>
</p>
<p>
  <b>Iteration:</b>
  <%= @iteration.name %>
</p>

<%= form_for(@iteration, :url => iteration_plan_path) do |f| %>
  <table id="goals" border="1" cellspacing="0" cellpadding="5">
    <thead>
      <tr>
        <th>Who</th>
        <th>Last Goal</th>
        <th>This Goal</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for(:goals, @iteration.goals) do |g| %>
        <% current_goal  = g.object %>
        <% previous_goal = @iteration.previous_goal_for(current_goal.member) %>
        <tr>
          <td>
            <%= g.hidden_field :member_id %>
            <%= current_goal.member_name %>
          </td>
          <td>
            <%= case
                when @iteration.previous_iteration.nil? then '[N/A]'
                when previous_goal.result.blank? then '[None given]'
                else previous_goal.result
                end %>
          </td>
          <td><%= g.text_field :result %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br /><%= f.submit 'Save' %>
<% end %>
